<!DOCTYPE html>
<html>
<% include header.ejs %>
	<script>function queryAPI(){};</script>
	<div id="header" class="skel-layers-fixed">
		<div class="top">
			<!-- Logo -->
			<a id="facebook-info" href="">
				<div id="logo">
					<span class="image avatar48"><img id="avatarpic" src="/images/avatar.jpg" alt="" /></span>
					<h1 id="title"></h1>
				</div>
			</a>
			<!-- Nav -->
			<nav id="nav">

				<ul>
					<li><a href="" id="fb-link"><span class="icon fa-facebook-square">Promote FVLE 
						<div class="fb-like" data-href="http://fvle.jishnumohan.com" data-layout="button" data-action="like" data-show-faces="false" data-share="true" data-colorscheme="dark"></div>
					</span></a></li>
					<li><a href="/home" id="home-link" class="skel-layers-activeWrapper skel-layers"><span class="icon fa-home">Home</span></a></li>
					<li><a href="#top" id="top-link"><span class="icon fa-user">Profile</span></a></li>
					<li><a href="" id="logout-link"><span class="icon fa-sign-out">Logout</span></a></li>
				</ul>
			</nav>

		</div>

		<div class="bottom">
			
		</div>

	</div>

	<!-- Main -->
	<div id="main">

		<!-- Intro -->
		<section id="top" class="one dark cover">
			<div class="container">
				<header>
					<h2 class="alt">404</h2>	
				</header>
			</div>
		</section>
		<section id="text" class="two">
			<div class="container">
				<header>
					<h2>Page Not Found.</h2>
				</header>
				<div>"Not all those who wander are lost" - Bilbo Baggins
			</div>
		</section>
	</div>
	<div id="footer">A CS3216 Project</div>
<% include footer.ejs %>
</html>