<head>
	<link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />


    <link rel="stylesheet" href="/css/greyscale.css" />
	

	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/js/fvle-facebook-init.js"></script>
	<script src="/js/googleanalytics.js"></script>

	<title><%= title %></title>
</head>
<body>
