<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' />
	<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' />
	<link rel='stylesheet' href='/css/friend-link.css' />
	<link rel='stylesheet' href='/css/module-history.css' />
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="/js/jquery.scrolly.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/js/jquery.scrollzer.min.js"></script>
	<script src="/js/skel.min.js"></script>
	<script src="/js/skel-layers.min.js"></script>
	<script src="/js/init.js"></script>
	<script src="/js/fvle-facebook-init.js"></script>
	<script src="/js/fvle-facebook-apicall.js"></script>
	<script src="/js/googleanalytics.js"></script>
	<title><%= title %></title>
	<noscript>
		<link rel="stylesheet" href="/css/skel.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/style-wide.css" />
	</noscript>
</head>
<body>
<!-- 	<header>
		<h1>FVLE | Modules are better with Friends</h1>
	</header>
 -->